
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    background-color: #212121;
    color: white;
}

header{
    width: 1350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

h1{
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

#tittlePB{
    background:  linear-gradient(to right, #fc8dff, #aa00bc);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.barPanel{
    background: linear-gradient(to right,#4d4d4d, #333333, #333333) ;
    width: 800px;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 5px 5px 15px #0f0f0f ;
}

#bar{
    width: 770px;
    height: 50px;
    border: solid 2px rgb(116, 116, 116);
    border-radius: 4px;
    margin: 0 auto;

}

#progress{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    background:  linear-gradient(to right, #cf5dd3, #aa00bc);
    padding: 0px 10px 0px 10px;
    white-space: nowrap;
}

#percent{
    position: absolute;
    right: 600px;
}

#arrowDown{
    position: absolute;
    right: 550px;
}

